.btn_filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.menu_filter {
  background-color: transparent;
  color: #5d6465;
  border: none;
  cursor: pointer;
  font-size: 18px;
  &:hover {
    color: black;
  }
}

.menu_filter-active {
  font-size: 18px;
  background-color: transparent;
  color: #ff0000;
  border: none;
  cursor: pointer;
}
