.home {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-title {
  font-size: 2vw;
  font-weight: bolder;
}

.card-body {
  display: flex;
  flex-direction: column;
}
